*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial;
}

#header {
  margin-bottom: 20px;
  font-size: larger;
}

#time {
  font-weight: bold;
}

body {
  padding: 20px;
}
/* display all content center */
.intro,
.quiz-container,
.score-page,
.leaderboard {
  padding: 20px;
  text-align: center;
}
/* .quiz-container {
  text-align: left;
} */

h1 {
  margin-bottom: 20px;
  font-weight: bold;
}
/* keep the nav and timer hard left and right */
.flex-space-between {
  display: flex;
  justify-content: space-between;
}

/* hide functionality */
.hide {
  display: none;
}
